<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travel - Bhaccasyoniztas Beach Resort Website Template</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		.trip-image {
			width: 200px;
			cursor: pointer;
		}
		#trip-data {
			margin-top: 20px;
			padding: 10px;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel</h1>
							<ul id="sites">
								{{#each trips}}
								<li>
									<a href="#" class="trip-link" data-code="{{this.code}}">
										<img src="/images/{{this.image}}" alt="{{this.name}}" class="trip-image">
									</a>
									<h2><a href="#">{{this.name}}</a></h2>
									{{{this.description}}}
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				<div id="trip-data">
					<h2>Trip Data</h2>
					<pre id="trip-json"></pre>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
	<script>
		$(document).ready(function() {
			$('.trip-link').on('click', function(e) {
				e.preventDefault();
				const tripCode = $(this).data('code');
				$.getJSON(`/api/trips/${tripCode}`, function(data) {
					$('#trip-json').text(JSON.stringify(data, null, 2));
				}).fail(function() {
					$('#trip-json').text('Error fetching trip data.');
				});
			});
		});
	</script>
</body>
</html>
